* {
  padding: 0;
  margin: 0;
}
body {
  background-color: rgb(43, 43, 48);
}
.boton {
  width: 200px;
  height: 40px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 3px rgb(224, 180, 34);
  font-size: 17px;
  background-color: rgb(226, 186, 52);
  margin-inline: auto;
}
.boton:hover {
  cursor: pointer;
  background-color: rgb(235, 193, 79);
  transition: 0.4s;
}
.input {
  width: 200px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid rgb(138, 138, 138);
  padding-inline: 15px;
}
.input:focus {
  outline: none !important;
  border: 1px solid rgb(87, 117, 161);
}
/*Caja de ejerciocios*/
.cajaMayor {
  padding-top: 50px;
  width: 550px;
  border-radius: 5px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.ejercicio {
  background-color: rgb(66, 66, 73);
  text-align: center;
  height: 250px;
  box-shadow: 0 0 6px rgb(66, 66, 73);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 5px;
}
.text {
  color: white;
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
}
