body{
    background-color: rgb(87, 87, 107);

}
.btn{
    width: 150px;
    height: 50px;
    border-radius: 5px;
    border: none;
    background-color: rgb(141, 141, 141);
    font-size: 16px;
    margin: 20px;
    box-shadow: 0  0 4px rgb(148, 148, 148) ;
    color: rgb(255, 255, 255);
}
.btn:hover{
    cursor: pointer;
    background-color: rgb(58, 34, 58);
    box-shadow: 0  0 4px rgb(58, 34, 58); ;
    transition: 0.4s;
}
.resultado{
    margin:20px;
    padding-top: 10px;
    border-radius: 5px;
    background-color: rgb(45, 45, 66);
    height:73px;
    width: 110px;
    padding-left: 20px;
    color: white;
    box-shadow: 0 0 5px rgb(45, 45, 66);
}