* {
  padding: 0;
  margin: 0;
}
a{
    text-decoration: none;
    color: white;
}
/*navegacion*/
.navigation {
  border-bottom: 1px solid rgb(151, 151, 151);
  padding-inline: 120px;
  padding-top: 10px;
  height: 60px;
  box-shadow: 0 0 4px rgb(209, 209, 209);
}
ul {
  list-style: none;
}
.menu {
  display: flex;
  justify-content: space-between;
  font-size: 30px;
}
.menuItem {
  font-family: monospace;
}
/*body*/
body {
  background: #1d202b;
  color: #fff;
  font-family: "Roboto", sans-serif;
}
/*Container Primario*/
.containerPrimary, .proyecto, .datosPersonales,.containerFooter {
  width: 70%;
  margin: 100px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}
.card {
  background-color: #2c2f3a;
  display: flex;
  border-radius: 5px;
  box-shadow: 0 0 5px #2c2f3a;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}
.titulo1{
    width: 70%;
    margin: auto
}
.info {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.perfilPhoto {
  width: 100%;
  border-radius: 5px;
  
}
.imgProject{
width: 230px;
border-radius: 5px;
margin-left: 25px;
}
/*Proyectos*/
.cardP:hover{
    background-color: #40424d;
    transition: .4s;
}
.cardP{
    padding: 8px;
}
.navCard{
    height: 200px;
    text-align: center;
    transition: .3s ease all;
    overflow: hidden;

}
.navCard:hover{
    cursor: pointer;
}
.cardH3{
    margin: auto;
    font-size: 38px;
    position: relative;
    z-index: 2;
    transition: .3s ease all;
}
.proyecto1{
    height: 300px;
}
.navCard.card::after{
content: "";
width: 100%;
height: 100%;
background-color: rgb(155, 102, 3);
position: absolute;
top:-100%;
transition: .3s ease-in-out;


}
.navCard.card:hover::after{
    top: 0;
}

/*FOOTER*/
#footer{
    background-color: #000000;
    box-shadow: 0 0 8px #000000 ;
    height: auto;
padding: 10px;
}
.contacts{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
.containerFooter{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
}
