*{
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container{
margin-top: auto;
}
.table{
    border-collapse: collapse;
    margin: auto;
    box-shadow: 0 0 14px rgb(182, 182, 182);
}

.b1{
border-inline: 1px solid black ;
}
tr:nth-child(even){
    background-color: rgb(224, 224, 224);
}
tbody tr:hover{
    background-color: rgb(95, 95, 95);
    cursor: pointer;
    color: white;
    transition: .1s;
}
tr{
   height: 30px;
}
td, th {
padding-inline: 7px;
}
